body
{
    background-color: blanchedalmond;
    margin-left: 200px;
    margin-right: 200px;
}
div.miniaturka
{
    margin: 5px;
    border: 1px solid #ccc794;
    float: left;
    width: 20%;
    height: 20%;
}
div.miniaturka img
{
    width: 100%;
    height: 70%;
}
div.opis
{
    padding: 5px;
    text-align: center;
}